.modal {
  // display: none;

  &__overlay {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.5);
    backdrop-filter: blur(1px);
  }

  &__content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    z-index: 2000;
    width: 75rem;
    background-color: var(--white);
    overflow: hidden;

    display: flex;
    gap: 2rem;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      width: 35rem;
      text-align: center;
    }
  }

  &__img {
    width: 50%;

    @media only screen and (max-width: $bp-medium) {
      display: none;
    }
  }

  &__btn {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;

    width: 2.6rem;
    height: 2.6rem;
    background-color: var(--salmon-pink);
    border-radius: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    ion-icon {
      --ionicon-stroke-width: 7rem;
      width: 1.6rem;
      color: var(--white);
    }
  }

  &__form {
    padding: 5rem 3rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }

  &__title {
    font-size: 2rem;
    text-align: left;
    width: 100%;
    font-weight: 600;
    color: var(--onyx);

    @media only screen and (max-width: $bp-largest) {
      text-align: center;
    }
  }

  &__input {
    padding: 0.8rem 1.6rem;
    border: 1px solid var(--cultured);
    border-radius: 0.5rem;
  }

  &__subscribe {
    padding: 1rem 1.5rem;
    background-color: var(--eerie-black);
    color: var(--white);
    border-radius: 0.5rem;
  }
}

.modal.close {
  display: none;
}
