@keyframes slideInOut {
  0%,
  45%,
  100% {
    -webkit-transform: translateX(-webkit-calc(-100% - 40px));
    transform: translateX(calc(-100% - 40px));
    opacity: 0;
    visibility: hidden;
  }
  50%,
  95% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}
